.rectangle {
    width: 210px;
    height: 210px;
    display: inline-block;
    background-color: white;
    border-radius: 10%;
    border: 1px solid black;


}

.rectangle::before {
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    content: '';

} 